# Исследование надежности заемщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Изучение общей информации

In [2]:
import pandas as pd

try:
    data = pd.read_csv('data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных
### Удаление пропусков

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполним пропуски в этом столбце медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` заполним медианным доходом среди всех записей с тем же типом.

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений
В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [7]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

Выведите перечень уникальных значений столбца `children`.

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)
Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()
    
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных
Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [12]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов
Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру. Проверим остальные столбцы.

In [13]:
data['education'] = data['education'].str.lower()
data.duplicated().sum()

71

In [14]:
data = data.drop_duplicates()

### Категоризация данных
На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [15]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [16]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведим на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [17]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [18]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [19]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Исследование зависимостей
####  Есть ли зависимость между количеством детей и возвратом кредита в срок?
Посмотрим, какие значения содержатся в столбце 'children'.

In [20]:
print(data['children'].unique())

[1 0 3 2 4 5]

Проверим есть ли зависимость между количеством детей и возвратом кредита в срок. Для этого сгруппируем данные по количеству детей и посчитаем соотношение должников к общему числу заемщиков в каждой из категорий.

In [21]:
children_debt = data.pivot_table(index='children', values='debt', aggfunc=['count','sum']) 
children_debt['%']=data.groupby('children').agg({'debt':'mean'})
children_debt.columns = ['Всего заемщиков', 'Всего должников', 'Доля должников']
print(children_debt)

          Всего заемщиков  Всего должников  Доля должников
children
0                   14091             1063        0.075438
1                    4808              444        0.092346
2                    2052              194        0.094542
3                     330               27        0.081818
4                      41                4        0.097561
5                       9                0        0.000000

**Вывод:** 
Наиболее надежными заемщиками являются семьи без детей. Интересно, что с появлением первого ребенка, доля должников резко увеличиватеся.

Самые ненадежные - семьи с 4 детьми. При этом доля должников среди семей с 5 детьми равна нулю. Опрометчиво было бы думать, что причина кроется в их надежности, скорее всего виной всему отсутствие данных.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?
Посмотрим, какие значения содержатся в столбце 'family_status'.

In [22]:
print(data['family_status'].unique())

['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']

Проверим влияет ли семейное положение на возврат кредита в срок.

In [23]:
family_debt = data.pivot_table(index='family_status', values='debt', aggfunc=['count','sum']) 
family_debt['%']=data.groupby('family_status').agg({'debt':'mean'})
family_debt.columns = ['Всего заемщиков', 'Всего должников', 'Доля должников']
print(family_debt)

                       Всего заемщиков  Всего должников  Доля должников
family_status
Не женат / не замужем             2796              273        0.097639
в разводе                         1189               84        0.070648
вдовец / вдова                     951               63        0.066246
гражданский брак                  4134              385        0.093130
женат / замужем                  12261              927        0.075606

**Вывод:** 
Наименьшая доля должников в категории "вдовец/вдова". Было бы интересно узнать, может ли это быть связано со вступлением в наследство.

Самыми ненадежными оказались заемщики из категории "не женат/не замужем". С одной стороны - неожиданно, т.к. самыми надежными заемщиками являются семьи без детей, а это зачастую и есть "одиночки". С другой стороны, такой вывод может основываться на финансовой нагрузке - в браке она распределяется между супругами.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
Ранее мы уже категоризировали доход заемщиков, посмотрим сколько значений в каждой из них.

In [24]:
print(data.groupby('total_income_category')['total_income'].count())

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: total_income, dtype: int64

Переходим к проверке гипотезы.

In [25]:
income_debt = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count','sum']) 
income_debt['%']=data.groupby('total_income_category').agg({'debt':'mean'})
income_debt.columns = ['Всего заемщиков', 'Всего должников', 'Доля должников']
print(income_debt)

                       Всего заемщиков  Всего должников  Доля должников
total_income_category
A                                   25                2        0.080000
B                                 5014              354        0.070602
C                                15921             1353        0.084982
D                                  349               21        0.060172
E                                   22                2        0.090909

**Вывод:** 
Большая часть заемщиков находятся в категориях B и C, поэтому выводы будем делать по ним, чтобы избежать искажения результатов.

Менее надежные заемщики находятся в категории С(50001–200000). Более надежные - в категории В(200001–1000000).

Также было бы интересно проследить зависимость отсрочки погашения кредита с его размером и регионом, в котором проживает заемщик.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?
Цели кредита мы также категоризировали ранее, поэтому переходим к проверке гипотезы.

In [26]:
purpose_debt = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count','sum']) 
purpose_debt['%']=data.groupby('purpose_category').agg({'debt':'mean'})
purpose_debt.columns = ['Всего заемщиков', 'Всего должников', 'Доля должников']
print(purpose_debt)

                          Всего заемщиков  Всего должников  Доля должников
purpose_category
операции с автомобилем               4279              400        0.093480
операции с недвижимостью            10751              780        0.072551
получение образования                3988              369        0.092528
проведение свадьбы                   2313              183        0.079118

### Общий вывод
Проведя анализ вводных данных, можно прийти к выводу, что семейное положение и наличие детей влиют на своевременное погашение кредита. Также сказываются заработок заемщика и цель получения кредита.

##### Наиболее надежными заемщиками для банка являются:
- вдовцы и вдовы, либо люди в разводе/женатые;
- семьи без детей;
- с доходом 200001–1000000 руб.;
- берущие кредит на операции с недвижимостью.

##### Наиболее ненадежными заемщиками для банка являются:
- неженатые люди;
- семьи с 4 детьми;
- с доходом 50001–200000 руб.;
- берущие кредит на операции с автомобилем или получение образования.

Было бы интересно проверить, влияет ли возраст заемщика, регион его проживания и размер кредита на возврат его в срок.